*, *:before, *:after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html, body {
    font-size: 16px;
}
body {
    font-family: sans-serif;
}

a {
    color: #16a085;
}

/*
 * HEADER
*/
.navbar-default {
    .navbar-brand {
        color: #ecf0f1
    }

    .navbar-nav li a {
        color: #ecf0f1
    }

    background-color: #16a085;
    color: #ecf0f1;
    padding: 25px 0;
}
/*
 * Content
*/
#content {
    padding: 2rem;
}
.posts {
    list-style: none;
    list-style-position: inside;
    padding: 0;
}
.posts li {
    padding-bottom: 2rem;
    margin-bottom: 2rem;
    border-bottom: 1px solid #eee;
    width: 45%;
    display: inline-block;
    border: 1px solid #eee;
    box-shadow: 0 3px 5px rgba(0,0,0,.2);
    padding: 20px;
    transition: all 0.32s ease;
}
.posts li:hover {
    transform: translateY(-5px);
    box-shadow: 0 7px 15px rgba(0,0,0,.3);
}
.posts li:nth-child(2n+1) {
    margin-right: 9%;
}
.posts h2 {
    margin-bottom: 1.3rem;
    padding: 0 20px 20px;
    border-bottom: 1px solid #ddd;
    margin-left: -20px;
    margin-right: -20px;
}
.posts p {
    line-height: 1.7rem;
}

article {
    .body {
        margin-bottom: 20px;
    }
}

/*
 * Footer
*/
footer {
    padding: 2rem;
}
